html {
  font-family: Bitter, serif;
}

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6359a6;
  border-bottom: 8px solid #4d4583;
  padding: 0;
}

.logo {
  padding: 1em 0 .5em;
  padding-left: 5%;
  width: 175px;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  text-align: center;
}

.nav a {
  font-family: Oswald, sans-serif;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #4d4583;
  color: #fff;
  border-radius: 5px;
}

.nav-check:checked ~ .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #4d4583;
}

.nav-check:checked ~ .nav li {
  width: 50%;
}

[type="checkbox"] + label::before {
  display: none;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  top: 1.75em;
  position: absolute;
  right: 5%;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #6359a6;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-close {
  display: none;
}

.nav-active {
  background-color: #4d4583;
}


.banner {
  background: url("../images/banner.jpg") no-repeat center center/ cover;
  padding-top: 10em;
  color: #fff;
  border-bottom: 8px solid #4d4583;
}

.banner-content {
  width: 85%;
  padding: 3em 0;
  margin-left: 5%;
}

.btn {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 5px solid #fff;
  background-color: transparent;
  margin-top: 2em;
  width: 10em;
  text-align: center;
}

.btn:hover {
  background-color: #6359a6;
  border-color: transparent;
}

h1 {
  font-family: Oswald, sans-serif;
  margin-bottom: .5em;
}

.section {
  margin-top: 1em;
  width: 90%;
  margin-left: 5%;
  text-align: justify;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #6359a6;
  text-align: center;
}

.footer-nav a {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: #fff;
  display: block;
  border-top: 1px solid #4d4583;
  padding: .25em 0;
}

.footer-nav a:hover {
  background-color: #4d4583;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-top: 7.5em;
  }

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

  .logo {
    width: 200px;
  }

  .nav a {
    padding: .75em;
  }

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-active {
    background: url("../images/paw.svg") no-repeat .3em .4em / 45px;
  }

  .footer-active {
    background:
  }

  .banner-content {
    max-width: 75%;
  }

  .footer-nav li {
    position: relative;
    bottom: 0;
    display: inline-flex;

  }

  .footer-nav a {
    padding: 1em;
  }

}

@media only screen and (min-width: 90em) {

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .banner {
    padding-top: 2em;
  }

  .banner-content {
    margin-top: 5em;
    max-width: 65%;
  }

}
