html {
  font-family: 'Josefin Slab', serif;
}

.masthead {
  background-color: #6359a6;
  border-bottom: 5px solid #4d4583;
}

.logo {
  width: 200px;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  text-align: center;
}

.nav a {
  font-family: 'Candal', sans-serif;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #4d4583;
  color: #fff;
}

.nav-check:checked {
  position: absolute;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  font-size: 1.25rem;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #6359a6;
}

.banner {
  background: url("../images/banner.jpg") no-repeat center center/ cover;
  color: #6359a6;
  padding-top: 56.25%;
  border-bottom: 4px solid #2d5a4d;
}

.banner-content {
  background: url("../images/two-leaves.svg") no-repeat 10px top / 100px auto;
  padding-top: 7.5em;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-top: 7.5em;
  }

}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 30.25%;
  }

  .banner-content {
    padding-top: 3em;
  }

}

@media only screen and (min-width: 60em) {


}

@media only screen and (min-width: 90em) {


}
