html {
  font-family: "Bitter", serif;
}

.masthead {
  background-color: #6359a6;
  border-bottom: 8px solid #4d4583;
  padding: 0;
}

.logo {
  padding: 1em 0;
  padding-left: 5%;
  width: 200px;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  text-align: center;
}

.nav a {
  font-family: Oswald, sans-serif;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #4d4583;
  color: #fff;
}

.nav-check:checked ~ .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #4d4583;
}

.nav-check:checked ~ .nav li {
  width: 50%;
}

[type="checkbox"] + label::before {
  display: none;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  top: 1.5em;
  position: absolute;
  right: 5%;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #6359a6;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-close {
  display: none;
}

.banner {
  background: url("../images/banner.jpg") no-repeat center center/ cover;
  color: #fff;
  border-bottom: 8px solid #4d4583;
}

.banner-content {
  top: 0;
  width: 85%;
  padding: 3em 0;
  margin-left: 5%;
}

.banner a {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 5px solid #4d4583;
  background-color: #6359a6;
  margin-top: 2em;
  width: 10em;
  text-align: center;
}

h1 {
  font-family: Oswald, sans-serif;
  margin-bottom: .5em;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-top: 7.5em;
  }

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

  .nav a {
    padding: 0.5em;
  }

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .banner-content {
    max-width: 75%;
  }

}

@media only screen and (min-width: 90em) {

  .nav a {
    padding: 0.5em;
  }

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .banner {
    padding-top: 2%;
  }

  .banner-content {
    max-width: 65%;
    padding-bottom: 3em;
  }

}
