html {
  font-family: 'Josefin Slab', serif;
}

.masthead {
  background-color: #6359a6;
  border-bottom: 10px solid #4d4583;
}

.logo {
  padding: .5em;
  width: 200px;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  text-align: center;
}

.nav a {
  font-family: 'Oswald', sans-serif;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #4d4583;
  color: #fff;
}

.nav-check:checked ~ .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #4d4583;
}

.nav-check:checked ~ .nav li {
  width: 50%;
}

[type="checkbox"] + label::before {
  display: none;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  font-size: 1.25rem;
  top: 1.5em;
  position: absolute;
  right: 5%;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #6359a6;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-close {
  display: none;
}

.banner {
  background: url("../images/banner.jpg") no-repeat center center/ cover;
  font-weight: bold;
  color: #fff;
  padding-top: 56.25%;
  position: relative;
  border-bottom: 10px solid #4d4583;
}

.banner-content {
  top: 0;
  width: 85%;
  padding-bottom: 5em;
  margin-left: 10%;
}

.banner a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #4d4583;
  background-color: #6359a6;
  margin-top: 2em;
  width: 10em;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
@media only screen and (min-width: 25em) {

  .banner-content {
    padding-top: 7.5em;
  }

}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 30.25%;
  }

  .banner-content {
    padding-top: 3em;
  }

}

@media only screen and (min-width: 60em) {


}

@media only screen and (min-width: 90em) {


}
