html {
  font-family: Bitter, serif;
}

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6359a6;
  border-bottom: 8px solid #4d4583;
  padding: 0;
  z-index: 5;
}

.logo {
  padding: 1em 0 .5em;
  padding-left: 5%;
  width: 175px;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  text-align: center;
}

.nav a {
  font-family: Oswald, sans-serif;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #4d4583;
  color: #fff;
  border-radius: 5px;
}

.nav-check:checked ~ .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #4d4583;
}

.nav-check:checked ~ .nav li {
  width: 50%;
}

[type="checkbox"] + label::before {
  display: none;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  top: 1.75em;
  position: absolute;
  right: 5%;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #6359a6;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-close {
  display: none;
}

.nav-active {
  background-color: #4d4583;
}

.banner {
  background: linear-gradient(to bottom, rgba(0, 0 , 0, 0), rgba(0, 0, 0, .45)), url("../images/banner.jpg") no-repeat center center/ cover;
  padding-top: 10em;
  color: #fff;
  border-bottom: 15px solid #4d4583;
}

.banner-content {
  width: 85%;
  padding: 3em 0;
  margin-left: 5%;
  text-align: center;
}

.btn {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 5px solid #fff;
  background-color: transparent;
  margin-top: 2em;
  width: 10em;
}

.btn:hover {
  background-color: #6359a6;
  border-color: transparent;
}

h1 {
  font-family: Oswald, sans-serif;
  margin-bottom: .25em;
}

h2 {
  color: #4d4583;
  font-family: Oswald, sans-serif;
  padding-top: 1em;
}

.pic-style {
  border-radius: 5px;
  border: 10px solid #6359a6;
}

.section article {
  margin-top: 1em;
  margin-bottom: 1rem;
  text-align: justify;
  position: relative;
  z-index: 1;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #6359a6;
  text-align: center;
}

.footer-nav a {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: #fff;
  display: block;
  border-top: 1px solid #4d4583;
  padding: .25em 0;
}

.footer-nav a:hover {
  background-color: #4d4583;
}

footer small {
  background-color: #4d4583;
  display: block;
  color: #fff;
  text-align: center;
  padding: .5em 0;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-top: 7.5em;
  }

}

@media only screen and (min-width: 38em) {

  .banner-content {
    max-width: 80%;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    width: 200px;
  }

  .nav a {
    padding: .75em;
  }

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-active {
    background: url("../images/paw.svg") no-repeat center 1px / 90px;
  }

  .section article {
    margin-top: 0;
    margin-left: 1.5rem;
  }

  .banner-content {
    max-width: 80%;
    text-align: left;
  }

  .footer-active {
    background-color: #4d4583;
  }

  .footer-nav li {
    position: relative;
    bottom: 0;
    display: inline-flex;
  }

  .footer-nav a {
    padding: 1em;
  }

}

@media only screen and (min-width: 90em) {

  .nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 1.5em;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .banner {
    padding-top: 2em;
  }

  .banner-content {
    margin-top: 5em;
    max-width: 56%;
  }

}
